body {
    min-height: 2000px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#footer {
    clear: both;
    font-size: 0.7em;
    text-align: center;
}
#map { height: 600px; }

td.pheno_1 {
    background-color: rgba(52, 128, 23, 0.7);
}
td.pheno_12 {
    background-color: rgba(65, 163, 23, 0.7);
}
td.pheno_23 {
    background-color: rgba(247, 93, 89, 0.7);
}
td.pheno_3 {
    background-color: rgba(246, 40, 23, 0.7);
}
